.example-form {
  min-width: 150px;
  max-width: 300px;
  width: 90%;
}

.example-full-width {
  width: 50%;
}
.hh
{
  width: 50%;
  padding-top: -10px;
  margin-left: 50px;
}
.hh1
{
  margin-left: 150px;

}
.center
{
  width: 50%;
  margin-left: 50px;

}

